<app-card-in-middle>
  <table>
    <thead>
      <th>סטטוס</th>
      <th>מחשבים</th>
      <th>ניידים</th>
    </thead>
    <tbody>
      <tr *ngFor="let s of statuses | async">
        <td>
          <app-dots-menu
            [buttons]="buttons"
            [item]="s"
            *ngIf="isAdmin()"
          ></app-dots-menu>
          <a [routerLink]="detailsLink(s)">{{ s.caption }}</a>
        </td>
        <td>
          {{ s.count }}
        </td>
        <td>
          {{ s.laptops }}
        </td>
      </tr>
    </tbody>
  </table>
</app-card-in-middle>
