<div
  style="display: flex; height: 100%; justify-content: space-around"
  class="container"
>
  <app-card-in-middle *ngIf="!allowedForManager()">
    <h3>
      <div>חסרה הרשאה למסופון {{ input.status.caption }},</div>
      <div>להחלפת מסופון לחץ על "הגדרות מסופון"</div>
    </h3>
  </app-card-in-middle>
  <app-card-in-middle *ngIf="allowedForManager()">
    <div style="display: flex; flex-direction: column; gap: 8px" #myField>
      <h2>
        {{
          input.status.caption +
            (input.status.updateEmployee ? " " + input.employee?.name : "") +
            (input.status.assignPallet ? " למשטח " + input.palletBarcode : "")
        }}
      </h2>
      <app-count-items *ngIf="input.status.special"></app-count-items>
      <ng-container *ngIf="!input.status.special">
        <data-control
          *ngIf="input.status.canUpdateCompletePallet"
          [field]="$.inputMethod"
        >
        </data-control>
        <form (submit)="submit()">
          <data-control
            *ngIf="!input.status.inputPackageBarcode && !inputMethod.pallet"
            [field]="input.$.barcode"
            cdkFocusInitial
          ></data-control>
        </form>
        <data-control
          *ngIf="showPallet()"
          [field]="input.$.palletBarcode"
          cdkFocusInitial
        ></data-control>
        <data-control
          [field]="input.$.packageBarcode"
          *ngIf="
            !showPallet() &&
            (input.status.updatePackageBarcode ||
              input.status.inputPackageBarcode)
          "
          cdkFocusInitial
        ></data-control>
        <div *ngIf="input.status.inputCpu">
          מעבד:
          <div style="display: flex; gap: 8px; margin-bottom: 16px">
            <button
              mat-raised-button
              [color]="c === input.cpu ? 'primary' : ''"
              *ngFor="let c of types"
              (click)="input.cpu = c"
            >
              {{ c.caption }}
            </button>
          </div>
        </div>
        <div *ngIf="input.status.inputCpu">
          {{ input.$.generation.metadata.caption }}:
          <div style="display: flex; gap: 8px; margin-bottom: 16px">
            <button
              mat-raised-button
              [color]="c.id === input.generation ? 'primary' : ''"
              *ngFor="let c of values(input.$.generation)"
              (click)="input.generation = c.id"
            >
              {{ c.caption }}
            </button>
          </div>
        </div>
        <!-- <div *ngIf="input.status.inputCpu">
          {{ input.$.memory.metadata.caption }}:
          <div style="display: flex; gap: 8px; margin-bottom: 16px">
            <button
              mat-raised-button
              [color]="c.id === input.memory ? 'primary' : ''"
              *ngFor="let c of values(input.$.memory)"
              (click)="input.memory = c.id"
            >
              {{ c.caption }}
            </button>
          </div>
        </div>
        <div *ngIf="input.status.inputCpu">
          {{ input.$.package.metadata.caption }}:
          <div style="display: flex; gap: 8px; margin-bottom: 16px">
            <button
              mat-raised-button
              [color]="c.id === input.package ? 'primary' : ''"
              *ngFor="let c of values(input.$.package)"
              (click)="input.package = c.id"
            >
              {{ c.caption }}
            </button>
          </div>
        </div> -->

        <data-area [settings]="area"></data-area>

        <button
          mat-raised-button
          color="success"
          color="primary"
          (click)="update()"
        >
          עדכן
        </button>
      </ng-container>
    </div>
  </app-card-in-middle>

  <app-card-in-middle
    *ngIf="input.status.showStatusTables && newStatusDates.length > 0"
  >
    <div style="margin: 20px; overflow-y: auto; max-height: 85vh">
      <div
        style="text-align: right; padding: 5px"
        *ngFor="let c of newStatusDates; let i = index"
      >
        <span style="position: relative; bottom: 5px; margin: 3px">
          {{ c.presentDate }}
        </span>
        <table *ngIf="input.status.groupBy.length > 0">
          <thead>
            <tr>
              <th *ngFor="let f of input.status.groupBy">
                {{ compRepo.metadata.fields.find(f).caption }}
              </th>
              <th>מחשבים</th>
            </tr>
          </thead>
          <tbody *ngFor="let i of c.byOrigin">
            <tr>
              <td *ngFor="let f of input.status.groupBy">{{ i.keys[f] }}</td>
              <td>{{ i.quantity }}</td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="input.status.listFields.length > 0">
          <thead>
            <tr>
              <th *ngFor="let f of input.status.listFields">
                {{ compRepo.metadata.fields.find(f).caption }}
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let i of c.computers">
            <tr>
              <td *ngFor="let f of input.status.listFields">{{ i[f] }}</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </app-card-in-middle>
</div>
