.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



input {
  margin: 0;
  padding: 4px 0;
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
  outline: none;
  width: 20%;
}


@media (max-width: 720px) {
  .container {
    flex-direction: column;
    gap:10px;
  }
}